.product-form form {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;

  display: flex;
  flex-direction: column;
}

.product-form form input {
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.product-form .actions {
  display: flex;
  justify-content: flex-end;
}

.product-form .actions button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #da552f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 5px;
}

.product-form .actions button:hover {
  opacity: 0.7;
}
